@model Rdt.CourseFinder.Models.PasswordVm

@using (Html.BeginForm("password", "user", FormMethod.Post, new { @class = "new-frm save-clse-frm", id = "newEventFrm" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(m => m.CurrentPassword)
        @Html.PasswordFor(m => m.CurrentPassword)
    </div>
    
    <div>
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
    </div>
    
        <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
    </div>
    
    <div class="sav-can">
        <a class="btn btn-cancel">Cancel</a>
        <button class="submit btn-primary">Update Password</button>
        <img src="~/Content/images/busy.gif" class="frm-busy" />
    </div>
        
    <p>
        @Html.ValidationSummary()
    </p>

    <div class="server-vald-msg validation-summary-errors" data-valmsg-summary="true">
    </div>  
}
<br />

<script src="~/Scripts/_save-clse-frm.js"></script>
