@model Rdt.CourseFinder.Models.TravelDetailsVm
<form data-url="/candidate/updatetravel" class="a-srch-frm srch-update-frm">
    @Html.LabelFor(m => m.TravelDate)
    <input type="text" name="TravelDate" value="@Model.TravelDate.Tommddyy()" class="datepicker" />

    @Html.LabelFor(m => m.Airlines)
    @Html.TextBoxFor(m => m.Airlines)


    @Html.LabelFor(m => m.BoardingCity)
    @Html.TextBoxFor(m => m.BoardingCity)

    <div>
        <a class="save-btn btn-primary">Update travel details</a>
        <img class="frm-busy" src="~/Content/Images/busy_h.gif" />
    </div>
</form>